header {
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1.5s ease, opacity 1s ease;
}

header nav ul {
    list-style-type: none;
    margin: 26px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a, .logout-btn {
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    padding: 3px 15px;
    background-color: rgba(0, 128, 0, 0.781);
    position: relative;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}

header nav ul li a:hover, .logout-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.logout-btn {
    background-color: rgba(209, 3, 3, 0.658);
    border: none;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 5px;
}

.logout-btn:hover {
    background-color: rgba(185, 0, 0, 0.85);
}

header:hover {
    animation: shadowExpand 0.5s forwards ease-in-out;
}

@keyframes shadowExpand {
    0% {
        box-shadow: 0 0 0 rgba(87, 87, 87, 0.2);
    }
    100% {
        box-shadow: 0 4px 30px rgba(87, 87, 87, 0.65);
    }
}

.logo {
    width: 140px;
    height: 150px;
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
}

/* === Media Queries === */

/* Mobile burger menu */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        font-size: 18px;
        color: white;
        background-color: rgba(0, 128, 0, 0.658);
        border-radius: 5px;
        padding: 10px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 128, 0, 0.658);
        position: absolute;
        top: 138px;
        left: 44.5%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 99;
    }

    .active {
        display: flex;
        height: 160%;
        top: 80%;
        background-color: rgba(0, 128, 0, 0.63);
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        z-index: 99;
    }

    header nav ul li a {
        font-size: 18px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.271);
        top: 14px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .logout-btn {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}