.error-page {
    background-color: #0000aa; /* Fond bleu */
    color: #ffffff; /* Texte blanc */
    font-family: 'Courier New', Courier, monospace; /* Style rétro */
    height: 100vh;
    width: 221vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-title {
    background-color: #aaaaaa; /* Fond gris pour le titre */
    color: #000000; /* Texte noir pour contraster */
    padding: 10px;
    font-size: 32px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.error-list {
    list-style-type: none; /* Supprime les puces des listes */
    padding: 0;
    margin-bottom: 20px;
}

.error-list li {
    margin-bottom: 10px;
}

.links {
    margin-top: 20px;
}

.link {
    color: #ffffff; /* Lien blanc */
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #2980b9; /* Fond bleu pour le lien */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #3498db; /* Changement de couleur au survol */
    text-decoration: underline;
}