.error-page {
    background-color: #0000aa;
    color: #ffffff; 
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 221vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-title {
    background-color: #aaaaaa; 
    color: #000000;
    padding: 10px;
    font-size: 32px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.error-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.error-list li {
    margin-bottom: 10px;
}

.links {
    margin-top: 20px;
}

.link {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #2980b9; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #3498db; 
    text-decoration: underline;
}