.service-card {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(5, 0, 0, 0.5);
}

.service-title {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
    z-index: 2;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-description {
    font-size: 1.4em;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2; /* Assurez-vous que le texte soit par-dessus l'overlay */
}

/* Texte apparaissant au hover */
.service-card:hover .service-description {
    transform: translateY(0);
    opacity: 1;
}