/* Styles pour toute l'application */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que l'application prend toute la hauteur de la page */
}

.app-content {
  flex: 1; /* Cette partie prend toute la place disponible */
  padding: 20px;
}

/* Assurez-vous que le footer ne chevauche rien */
footer {
  background-color: #f2f2f2;
  color: #333;
  padding: 40px 0;
}

